services:
  web:
    build:
      context: ./web
    environment:
      - FRAMEWORK=laravel  #laravel o symfony, o none
    ports:
      - "80:80"
    volumes:
      - ../:/var/www/html/demo 
    depends_on:
      - db
  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_DB: "demo_db"
      POSTGRES_USER: demo_user
    volumes:
       - db-data:/var/lib/postgresql/data
  adminer:
    image: adminer
    depends_on:
      - db
    restart: always
    ports:
      - 8080:8080

volumes:
  db-data:
